<div class="clearfix">
    <footer>
        <div class="col1"><h2 class="foot">Los Tres Tenores</h2></div>
        <div class="col2"> <a href="index.php?controller=general&action=ShowFooter#who-are-we">Quienes somos</a></div>
        <div class="col3"> <a href="index.php?controller=general&action=ShowFooter#work-with-us">Trabaja con nosotros</a></div>
        <div class="col4"> <a href="index.php?controller=general&action=ShowFooter#our-libraries">Nuestras librerías</a></div>
        <div class="col5"> <a href="index.php?controller=general&action=ShowFooter#use-conditions">Condiciones de Uso</a></div>
        <div class="col6"> <a href="index.php?controller=general&action=ShowFooter#use-conditions">Política de cookies</a></div>
        <div class="col7"> <a href="index.php?controller=general&action=ShowFooter#resolution">Resolución de litigios en línea</a></div>
        
    </footer>
</div>