<div class="clearfix">
    <footer>
        <h3>Los Tres Tenores</h3>
        <a href="index.php?controller=general&action=ShowFooter#who-are-we">Quienes somos</a><br>
        <a href="index.php?controller=general&action=ShowFooter#work-with-us">Trabaja con nosotros</a><br>
        <a href="index.php?controller=general&action=ShowFooter#our-libraries">Nuestras librerías</a><br>
        <a href="index.php?controller=general&action=ShowFooter#use-conditions">Condiciones de Uso</a><br>
        <a href="index.php?controller=general&action=ShowFooter#use-conditions">Política de cookies</a><br>
        <a href="index.php?controller=general&action=ShowFooter#resolution">Resolución de litigios en línea</a><br>
        
    </footer>
</div>